@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

.App {
  width: 100%;
  margin: auto;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.App-no-web3 {
  width: 60%;
  margin: auto;
  text-align: left;
  margin-top: 40px;
}

.App-simplestorage-example{
  width:80%;
  margin:auto;
}

/* ------------------------------------------------------------ */
/* ----------------------- OTHER STYLE ------------------------ */
/* ------------------------------------------------------------ */

button {
  padding: 8px;
  width: 20%;
  min-width:200px;
  max-width: 250px;
  cursor: pointer;
  border-radius: 5px;
}

#button-call {
  background-color: #365f7c;
  color: white;
}

#button-call:hover {
  color: #fff;
  background-color: #2a4b62;
  border-color: #264459;
}

#button-call:focus {
  box-shadow: 0 0 0 0.2rem rgb(83 119 145 / 50%);
}

#button-send {
  background-color: #b84040;
  color: white;
  min-width:120px;
  max-width:150px;
  margin-left: 2px;
}

#button-send:hover {
  color: #fff;
  background-color: #9c3636;
  border-color: #923333;
}

#button-send:focus, #button-send:active {
  box-shadow: 0 0 0 0.2rem rgb(195 93 93 / 50%);
}

#inline {
  display: inline;
  margin-right: 30px;
}

.inputs {
  width: 400px;
}